<html>
  <head>
      <title> University of Buea | Department of Computer Science </title>
  </head>
  <body>
        <div class="container-fluid ubcsc-navbar">
            <div class="row">
                <div class="col-sm-10 align-content-sl-start" style="color:white">
                    <h1><span class="lead">University of Buea</span><br>Department of Computer Science</h1>
                </div>
                <div class="col-sm-2 align-content-sl-end form-group">
                    <input type="text" class="form-control ubcsc-searchinput">          
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <ul class="nav nav-tabs row list-inline">
                <li class="active"><a href="#">Home</a></li>
                <li><a routerLink = "home-page">People and Resources</a></li>
                <li><a routerLink = "home-page" href="#">Projects and Inovation</a></li>
                <li><a routerLink = "home-page">News and Events</a></li>
                <li><a routerLink = "home-page">Campus</a></li>
                <li><a routerLink = "home-page">About</a></li>
                <li><a routerLink = "home-page">Alumi</a></li>
                <li><a routerLink = "login-page">Login</a></li>
            </ul>
        </div>
        <div class="ubcsc-billboard container-fluid">
            <!-- <div class="ubcsc-hodmessage row center-block text-center">Hello World H.O.D Message</div> -->
        </div>
        <div class="ubcsc-about container-fluid">
            <p class="row text-capitalize text-center jumbotron" style="padding: 5px; margin: 10%; margin-top: 2%; margin-bottom: 0%">
            Lorem ipsum dolor sit amet consectetur adipiscing elit himenaeos, aenean massa habitant magna donec per nibh ante, tortor laoreet metus quis arcu vestibulum ornare. Lectus sagittis quam sociis orci ridiculus rutrum mi ultrices, fusce class inceptos erat fermentum quisque blandit laoreet ultricies, pretium ornare montes purus nunc diam senectus. Fames bibendum potenti cubilia magna condimentum ridiculus molestie cum, cursus nisi nullam torquent pharetra venenatis feugiat turpis nam, at tempor et pellentesque maecenas tincidunt erat.
            </p>
        </div>
        <div class="ubcsc-studies container-fluid">
            <div class="ubcsc-studiesimage row img-circle" style="max-height: 50px; max-width: 50px">
                <img style="background-color: rgb(43, 2, 43)" class="img-responsive img-circle"> <h4>Studies</h4>
            </div>
            <div class="row">
                <div class="ubcsc-studiesarticle col-sm-3 container align-content-start">
                    <div class="row" style="height: 200px; width: 400px">
                        <img  class="img-responsive">
                    </div>
                    <div class="row" style="max-height: 40%; background-color: white">
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit himenaeos, aenean massa habitant magna donec per nibh ante, tortor laoreet metus quis arcu vestibulum ornare.</p>
                    </div>
                </div>
                <div class="ubcsc-studiesarticle col-sm-3 align-content-between">
                        <div class="row" style="height: 200px; width: 400px">
                                <img  class="img-responsive">
                            </div>
                            <div class="row" style="max-height: 40%; background-color: white">
                                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit himenaeos, aenean massa habitant magna donec per nibh ante, tortor laoreet metus quis arcu vestibulum ornare.</p>
                            </div>
                </div>
                <div class="ubcsc-studiesarticle col-sm-3 align-items-end">
                        <div class="row" style="height: 200px; width: 400px">
                                <img  class="img-responsive">
                            </div>
                            <div class="row" style="max-height: 40%; background-color: white">
                                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit himenaeos, aenean massa habitant magna donec per nibh ante, tortor laoreet metus quis arcu vestibulum ornare.</p>
                            </div>
                </div>
            </div>
        </div>
        <div class="ubcsc-activities container-fluid">
            <div class="ubcsc-studiesimage row img-circle" style="max-height: 50px; max-width: 50px">
                <img style="background-color: rgb(43, 2, 43)" class="img-responsive img-circle"> <h4>Activities</h4>
            </div>
            <div class="row">
                <div class="ubcsc-ativitiesarticle col-sm-3 align-content-start">
                        <div class="row" style="height: 200px; width: 400px">
                                <img class="img-responsive">
                            </div>
                            <div class="row" style="max-height: 40%; background-color: white">
                                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit himenaeos, aenean massa habitant magna donec per nibh ante, tortor laoreet metus quis arcu vestibulum ornare.</p>
                            </div>
                </div>
                <div class="ubcsc-ativitiesarticle col-sm-3 align-content-between">
                        <div class="row" style="height: 200px; width: 400px">
                                <img  class="img-responsive">
                            </div>
                            <div class="row" style="max-height: 40%; background-color: white">
                                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit himenaeos, aenean massa habitant magna donec per nibh ante, tortor laoreet metus quis arcu vestibulum ornare.</p>
                            </div>
                </div>
                <div class="ubcsc-ativitiesarticle col-sm-3 align-items-end">
                        <div class="row" style="height: 200px; width: 400px">
                                <img  class="img-responsive">
                            </div>
                            <div class="row" style="max-height: 40%; background-color: white">
                                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit himenaeos, aenean massa habitant magna donec per nibh ante, tortor laoreet metus quis arcu vestibulum ornare.</p>
                            </div>
                </div>
            </div>
        </div>
        <div class="ubcsc-affiliate container-fluid">
        </div>
        <div class="ubcsc-footer container-fluid">
        </div>
  </body>
</html>
